name: Build Shizuku App (All Debug Signed)

on:
  workflow_dispatch:
    inputs:
      prerelease:
        description: 'Prerelease (add -beta suffix)'
        type: boolean
        required: false
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      attestations: write
      artifact-metadata: write

    outputs:
      versionName: ${{ steps.buildWithGradle.outputs.versionName }}
      artifactName: ${{ steps.buildWithGradle.outputs.artifactName }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: 'recursive'
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          build-scan-publish: true
          build-scan-terms-of-use-url: "https://gradle.com/terms-of-service"
          build-scan-terms-of-use-agree: "yes"

      - name: Build with Gradle (always debug signed)
        id: buildWithGradle
        run: |
          yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --licenses > /dev/null || true
          echo 'org.gradle.caching=true' >> gradle.properties
          echo 'org.gradle.parallel=true' >> gradle.properties

          ./gradlew :manager:assembleDebug
          FILE=$(ls manager/build/outputs/apk/debug/*.apk | head -n 1)

          VERSION=\( (echo " \)(basename "$FILE")" | sed -E 's/^shizuku-(.*)-debug\.apk/\1/')
          if [ "${{ inputs.prerelease }}" = "true" ]; then
            VERSION="${VERSION}-beta"
          fi

          ARTIFACT_NAME="shizuku-$VERSION-debug.apk"

          RENAMED="$(dirname "$FILE")/$ARTIFACT_NAME"
          if [ "$FILE" != "$RENAMED" ]; then
            mv "$FILE" "$RENAMED"
          fi

          echo "versionName=$VERSION" >> $GITHUB_OUTPUT
          echo "artifactName=$ARTIFACT_NAME" >> $GITHUB_OUTPUT
          echo "filePath=$RENAMED" >> $GITHUB_OUTPUT

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.buildWithGradle.outputs.artifactName }}
          path: ${{ steps.buildWithGradle.outputs.filePath }}
